{% extends 'base.html' %}


{% block content %}
<div class="container">

    <!-- Header Section-->
    <header class="row">
        <div class="col-12-md-6" id="header-text">
            <h2> Welcome to a safe place created just for you!</h2>
            <h5>Lets work together for a better Tomorrow🕊</h5>
            <button class="btn btn-primary">View Our Docs</button>
        </div>

        <!-- Header Image-->
        <div class="col-12 col-md-6">
            <img src="../../static/css/images/journ-logo.png" alt="hero header image" class="header-image">
        </div>
    </header>
<!-- End of Header-->


    <!--Start Middle Section-->
    <section class="row">
        <div class="col-12-md-6" id="middle-text">
            <h2>What is your need?</h2>
            <p>We are to help you anyway that we can.</p>
        </div>
    </section>
    <!-- End of Middle Section-->

    <!-- Collection of features -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            <img src="../../static/css/images/journey.jpeg" alt="journey"></img>
                <h4>My Journey</h4>
                <p>If you need inspiration, just look at my journey.</p>
            </div>
        
            <div class="col-12 col-md-4">
                <img src="../../static/css/images/itsgod.jpeg" alt="its-god"></img>
                    <h4>The possiblities</h4>
                    <p>It might seem impossible, but try this and see.</p>
                </div>
                <div class="col-12 col-md-4">
                    <img src="../../static/css/images/journ.jpeg" alt="journal"></img>
                        <h4>Let it out!</h4>
                        <p>Holding it in only causes you to loose yourself even more.</p>
                    </div>
        </section>

        <!-- End of Collection of Features Section -->

        <!-- Community Section -->
        <section class="row">
            <div class="col-12 col-md-6">
                <img src="../../static/css/images/letgod.jpeg" alt="let-god">
            </div>
            <div class="col-12 col-md-6">
                <h4> It's time to encourage each other and become better together!🫂</h4>
                <p>
                    Whatever you're going through can be overcome. If you need refuge, you're in the right place! We try our hardest to support in any way possible. Tell us your needs an we will work together to get them met. It doesn't matter what's going on what you're going through. We will get through it together!
                </p>
            </div>
        </section> 
        <!-- End of Community Section-->

        <!-- Start of footer-->
        <footer class="row" id="footer">
            <div class="col-2 col-md-2">
                <img src="../../static/css/images/newtest.jpeg" alt="new-test" id="footer-logo">
            </div>
    
            <div class="col-2 col-md-2">
                <div class="footer-text-flex">
                    <h4></h4>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </footer>
</div>

{% endblock content %}